body {
    font-family: Consolas, Monaco, \'DejaVu Sans Mono\', \'Courier New\', monospace;
}

.quote {
    white-space: pre-wrap;
    border: 1px solid black;
    padding: 5px 5px 10px 10px;
    margin: 5px;
    word-wrap: break-word;
}

.code_keyword {
    color: red;
}

.code_string {
    color: green;
}

.code_variable {
    color: blue;
}

table td, th {
    border: 1px solid black;
}

.container {
    width: 1000px;
    word-wrap: break-word;
    margin: auto;
}

.inline_code {
    border: 1px solid black;
}